{
    "user": [
        {"username": "slu+perf-test6@dimagi.com", "password": "PWD", "login_as": "locust-test-supervisor86", "usertype": "supervisor"},
        {"username": "slu+perf-test1@dimagi.com", "password": "PWD", "login_as": "locust-test-ci1", "usertype": "ci"},
        {"username": "slu+perf-test1@dimagi.com", "password": "PWD", "login_as": "locust-test-ct1", "usertype": "ct"}
    ]
}
